.grid-container {
    display: flex;
    width: 500px;
    height: 500px;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-cell {
    flex: 1;
}

.grid-container, .grid-cell {
    box-sizing: border-box;
    border: 2px solid black;
}